$fontlato: "Lato", sans-serif
$fontGeist: "Geist", sans-serif
$fontInstrument: "Instrument Serif", serif
$brandOrange: rgb(255, 159, 28)
$brandGreen: rgb(117, 172, 57)
$brandyellow: #ffe4c2

.first-section
    text-align: center
    .main-headling
        font-size: 32px
        font-family: $fontGeist !important
        color: #000
        font-style: italic
    img
        border-radius: 25px
        height: 600px
        object-fit: cover
        object-position: bottom
        margin-top: 30px
        text-align: center