$hcolor: #000
$pcolor: #453d3d
$brandbluecolor: #01406f
$brandgreencolor: #04a35f
$brandlightgreencolor: #0fc85e
$branddarkgreencolor: #318129
$fontManrope: "Manrope", sans-serif
$fontlato: "Lato", sans-serif
$fontOpenSans: "Open Sans", sans-serif
$fontPlusJakartaSans: "Plus Jakarta Sans", sans-serif

