* {
  font-family: "Archivo", sans-serif;
}

body {
  top: 0px !important;
}

.skiptranslate {
  top: 73px !important;
}

ul {
  margin: 0px;
  padding: 0px;
}

.golden-hr {
  border-top: 10px solid #eed484;
  margin: 0px;
  opacity: 1;
}

.blue-line {
  border-top: 4px solid #eed484;
  margin: 0px;
  margin: auto;
  opacity: 1;
  width: 10%;
}

.golden-line {
  border-top: 4px solid #eed484;
  margin: 0px;
  margin: auto;
  opacity: 1;
  width: 10%;
  margin-bottom: 20px;
}

h2, h3, h4, h5, h6 {
  color: #164478;
  font-weight: bold;
  margin-bottom: 15px;
}

p {
  color: #000000;
}

.btn-web {
  background: #eed484;
  color: #000000;
  padding: 12px 20px;
  display: inline-block;
  list-style: none;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  margin-top: 5px;
  text-transform: uppercase;
  word-spacing: 3px;
  box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.1333333333);
}
.btn-web i {
  margin-left: 5px;
}
.btn-web:hover {
  background: #164478;
  color: #fff;
}

.slide-arrow {
  position: absolute;
  top: 50%;
  z-index: 2;
  border: 1px solid rgba(0, 0, 0, 0.5333333333);
  border-radius: 100%;
}

.prev-arrow {
  left: -40px;
}

.next-arrow {
  right: -40px;
}

.main-banner {
  background: #000;
  height: 450px;
  display: flex;
  align-items: center;
  position: relative;
}
.main-banner h1, .main-banner p {
  color: #fff;
}
.main-banner .container {
  position: relative;
  z-index: 4;
}
.main-banner img {
  width: 100%;
  position: absolute;
  left: 0px;
  height: 450px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  opacity: 0.4;
}

.cards h3 {
  font-size: 24px;
}

.actions {
  display: flex;
  justify-content: end;
}
.actions a {
  background: #eed484;
  border-color: #eed484;
  color: #000;
  text-decoration: none;
  display: inline-block;
  padding: 8px 12px;
  border-radius: 5px;
  border: 1px solid #eed484 !important;
}
.actions a:hover {
  background: #164478;
  color: #fff;
}

.ctform {
  border: 2px solid #164478;
  padding: 30px;
  box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.5333333333);
}
.ctform label {
  display: block;
  font-size: 14px;
  color: #000;
  margin-bottom: 5px;
}
.ctform label .star {
  color: red;
  font-size: 20px;
  position: relative;
  left: 2px;
  top: 5px;
}
.ctform input, .ctform select, .ctform textarea, .ctform canvas {
  padding: 8px 12px;
  border: 1px solid #164478;
  border-radius: 10px;
  color: #164478;
  width: 100%;
  display: inline-block;
  margin-bottom: 15px;
}
.ctform select, .ctform option {
  padding: 12px 10px;
  display: block;
}
.ctform option {
  display: inline-block;
}
.ctform .groups {
  width: 49.6%;
  display: inline-block;
}
.ctform textarea {
  height: 110px;
}
.ctform .groups:nth-child(even) input, .ctform .lsgroup input {
  width: 98%;
  margin-right: 5%;
}

.btn-blue {
  background: #eed484;
  display: inline-block;
  width: auto !important;
  padding: 10px 50px !important;
  color: #000 !important;
  border-radius: 5px;
  font-size: 18px !important;
  font-weight: bold;
  border: 1px solid #eed484 !important;
}
.btn-blue:hover {
  background: #164478;
  color: #fff !important;
  border-color: #164478;
}

select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: #ffffff;
  color: #333;
  padding: 10px 40px 10px 15px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s ease;
  width: 100%;
  outline: none;
  position: relative;
}

select:hover {
  border-color: #007bff;
}

select:focus {
  border-color: #007bff;
  box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.2);
}

select {
  background-image: url("data:image/svg+xml;utf8,<svg fill='gray' height='12' viewBox='0 0 20 20' width='12' xmlns='http://www.w3.org/2000/svg'><path d='M5.516 7.548l4.484 4.483 4.484-4.483L16 8.548l-6 6-6-6z'/></svg>");
  background-repeat: no-repeat;
  background-position: right 15px center;
  background-size: 12px;
}

option {
  background: #fff;
  color: #333;
  padding: 10px;
}

option:hover {
  background: #007bff;
  color: #fff;
}

#CtSpinner {
  height: 45px;
  -o-object-fit: contain;
     object-fit: contain;
  display: inline-block;
  width: 50px;
}

#messagehere {
  font-weight: bold;
  color: green;
  margin-top: 10px;
}

#CtSpinner, #messagehere {
  display: none;
}

#scrollTopBtn {
  position: fixed;
  bottom: 20px;
  left: 20px;
  z-index: 100;
  background-color: #333;
  color: white;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 12px 16px;
  border-radius: 50%;
  font-size: 20px;
  opacity: 0;
  transition: opacity 0.4s, transform 0.3s;
  width: 52px;
  padding: 10px;
  height: 52px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#scrollTopBtn.show {
  opacity: 1;
  transform: scale(1);
}

#scrollTopBtn:hover {
  background-color: #555;
}

@media only screen and (max-width: 768px) {
  #scrollTopBtn {
    bottom: 15px;
    left: 15px;
    border-radius: 50%;
    font-size: 25px;
    width: 45px;
    padding: 0px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .main-banner img, .main-banner {
    height: 200px;
  }
  .prev-arrow {
    left: 0px;
  }
  .next-arrow {
    right: 0px;
  }
  .slide-arrow {
    top: 43%;
  }
  .cards h3 {
    font-size: 22px;
  }
  .ctform .groups {
    width: 100%;
    display: inline-block;
  }
  .ctform .groups:nth-child(even) input, .ctform .lsgroup input {
    width: 100%;
    margin-right: 0%;
  }
}
.skiptranslate {
  top: 84px !important;
}

header {
  background: #fff !important;
}
header li a {
  color: #000000 !important;
}
header li a:hover {
  color: #164478 !important;
}
header .center-logo img {
  width: 105px !important;
  width: 40px !important;
}

.our-products .slide-arrow {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 0px;
}
.our-products .prev-arrow {
  left: -20px;
}
.our-products .next-arrow {
  right: -20px;
}
.our-products .cards {
  padding: 0px;
  padding-bottom: 0px;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  height: 100%;
  padding-top: 30px;
  text-align: center;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  width: 200px;
  margin: auto;
}
.our-products .cards p {
  margin-top: 15px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 15px;
}
.our-products .cards img {
  border-radius: 100%;
  width: 150px;
  height: 150px;
  -o-object-fit: cover;
     object-fit: cover;
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0.3333333333);
  outline: 1px solid rgba(0, 0, 0, 0.2666666667);
  outline-offset: 2px;
  margin: auto;
}

.other-products img {
  height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.other-products p {
  margin-bottom: 0px;
  margin-top: 10px;
  font-size: 18px;
  text-align: center;
  font-weight: bold;
}
.other-products .pcards {
  border: 1px solid rgba(0, 0, 0, 0.3333333333);
  padding: 0px;
  padding-bottom: 20px;
  border-radius: 10px;
}
.other-products .pcards img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin-bottom: 10px;
}

@media only screen and (max-width: 768px) {
  .prev-arrow {
    left: 10px !important;
  }
  .next-arrow {
    right: 10px !important;
  }
}/*# sourceMappingURL=products.css.map */