$hcolor: #000
$pcolor: #453d3d
$brandbluecolor: #01406f
$brandgreencolor: #04a35f
$brandlightgreencolor: #0fc85e
$branddarkgreencolor: #318129
$fontManrope: "Manrope", sans-serif
$fontlato: "Lato", sans-serif
$fontOpenSans: "Open Sans", sans-serif
$fontPlusJakartaSans: "Plus Jakarta Sans", sans-serif
$fontPoppins: "Poppins", sans-serif
$fontAlexandria: "Alexandria", sans-serif
$fontGeist: "Geist", sans-serif
$fontInstrument: "Instrument Serif", serif
$brandOrange: rgb(255, 159, 28)
$brandGreen: rgb(117, 172, 57)
$brandyellow: #ffe4c2

h2
    color: $brandGreen
    font-family: $fontGeist
    font-size: 52px
    font-weight: 700
    line-height: 1.2
    span
        color: #000
        font-size: 46px
        font-weight: 500
.subheading
    font-style: italic
    font-size: 52px
    color: #000
    font-weight: 500
    font-family: $fontInstrument !important

.ct-tooltip
    display: inline-block
    background: $brandOrange
    color: #fff !important
    padding: 6px 15px
    border-radius: 100px
    font-size: 15px
    font-family: $fontAlexandria !important
    margin-bottom: 15px !important

body
    background: #fff

a
    text-decoration: none !important
p
    margin-bottom: 0px
    font-size: 1.2rem
    font-family: $fontlato
    font-weight: 400
    color: #333
    strong
        color: #000

.prev-arrow,.next-arrow
    position: absolute
    z-index: 999
    font-size: 21px
    background: transparent
    color: #000000
    border: 2px solid #fff
    left: -1px
    padding: 10px 20px

.slick-next, .slick-prev
    bottom: -70px

.next-arrow
    right: 0px
    left: auto 

.slick-dots 
    bottom: -55px !important

.slick-dots li button:before
    font-size: 14px !important

.prev-arrow:hover,.next-arrow:hover
    background: #fff!important
    color: #000!important
    border-color: #fff!important

.globalbtn
    background: $brandGreen
    font-family: $fontlato
    font-weight: 700
    color: #fff
    padding: 12px 26px
    border-radius: 10px
    display: inline-block
    font-size: 1.2rem
    z-index: 2
    &:hover
        background: #000

.slick-next:before, .slick-prev:before
    font-family: slick
    font-size: 26px
    line-height: 1
    opacity: .75
    color: #000 !important

section
    padding: 80px 0px

@media only screen and (max-width:768px)
    .globalbtn
        font-size: 16px !important

    .prev-arrow, .next-arrow
        top: 46%
        z-index: 999
        font-size: 9px
        background: transparent
        color: #fff
        border: 2px solid #b8b6b6
        padding: 5px 5px
